/*Fonts*/
@font-face { font-family: Blokletters-Balpen; src: url('../../resources/fonts/Blokletters-Balpen.ttf'); }
@font-face { font-family: Blokletters-Viltstift; src: url('../../resources/fonts/Blokletters-Viltstift.ttf'); }

/*Colors*/
@slalomWarmGray: #efe9e5;

@bgPrimary: #eeeff0;
@bgSecondary: #000;
@bgSecondaryGradientHelper: #6C6C6C;
@textPrimary: #000;
@textSecondary: @slalomWarmGray;
@textTertiary: #b22773;

@seedColor: @textTertiary;
@teamOneScoreColor: #21314d;
@teamTwoScoreColor: #199fce;
/*End Colors*/

/*Common classes / functions*/
.clear_fix{
    zoom:1;
    &:after {
        content:".";display:block;height:0;clear:both;visibility:hidden;
    }
}

.background-gradient(@color1, @percent1, @color2, @percent2, @color3, @percent3) {
	background: @color1;
	background: -moz-linear-gradient(top,  @color1 @percent1, @color2 @percent2, @color3 @percent3);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(@percent1,@color1), color-stop(@percent2,@color2), color-stop(@percent3,@color3));
	background: -webkit-linear-gradient(top,  @color1 @percent1,@color2 @percent2,@color3 @percent3);
	background: -o-linear-gradient(top,  @color1 @percent1,@color2 @percent2,@color3 @percent3);
	background: -ms-linear-gradient(top,  @color1 @percent1,@color2 @percent2,@color3 @percent3);
	background: linear-gradient(top,  @color1 @percent1,@color2 @percent2,@color3 @percent3);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 );	*/
}

.border-radius(@border) {
	-webkit-border-radius: @border;
	-moz-border-radius: @border;
	border-radius: @border;
}

/*Not supported very well*/
/*//.border-image(@image, @topOffset, @rightOffset, @bottomOffset, @leftOffset, @horizontalRepeat, @verticalRepeat) {*/
/*//     -moz-border-image: url(@image) @topOffset @rightOffset @bottomOffset @leftOffset @horizontalRepeat @verticalRepeat;*/
/*//     -webkit-border-image: url(@image) @topOffset @rightOffset @bottomOffset @leftOffset @horizontalRepeat @verticalRepeat;*/
/*//     -o-border-image: url(@image) @topOffset @rightOffset @bottomOffset @leftOffset @horizontalRepeat @verticalRepeat;*/
/*//     border-image: url(@image) @topOffset @rightOffset @bottomOffset @leftOffset @horizontalRepeat @verticalRepeat;*/
/*// }*/
/*// .border-top-image(@image, @topOffset, @rightOffset, @bottomOffset, @leftOffset, @horizontalRepeat, @verticalRepeat) {*/
/*//     -moz-border-top-image: url(@image) @topOffset @rightOffset @bottomOffset @leftOffset @horizontalRepeat @verticalRepeat;*/
/*//     -webkit-border-top-image: url(@image) @topOffset @rightOffset @bottomOffset @leftOffset @horizontalRepeat @verticalRepeat;*/
/*//     -o-border-top-image: url(@image) @topOffset @rightOffset @bottomOffset @leftOffset @horizontalRepeat @verticalRepeat;*/
/*//     border-top-image: url(@image) @topOffset @rightOffset @bottomOffset @leftOffset @horizontalRepeat @verticalRepeat;*/
/*// }*/
/*// .border-bottom-image(@image, @topOffset, @rightOffset, @bottomOffset, @leftOffset, @horizontalRepeat, @verticalRepeat) {*/
/*//     -moz-border-bottom-image: url(@image) @topOffset @rightOffset @bottomOffset @leftOffset @horizontalRepeat @verticalRepeat;*/
/*//     -webkit-border-bottom-image: url(@image) @topOffset @rightOffset @bottomOffset @leftOffset @horizontalRepeat @verticalRepeat;*/
/*//     -o-border-bottom-image: url(@image) @topOffset @rightOffset @bottomOffset @leftOffset @horizontalRepeat @verticalRepeat;*/
/*//     border-bottom-image: url(@image) @topOffset @rightOffset @bottomOffset @leftOffset @horizontalRepeat @verticalRepeat;*/
/*// }*/
/*End Common*/

/*General tags*/
body {
    font-size: 14px;
    text-align: left;
    background: @bgPrimary url('../../resources/images/scanline.png') repeat;
}

input[type=submit] {
    cursor: pointer;
}
/*End General Tags*/

header {
    .background-gradient(@bgSecondaryGradientHelper, 0%, @bgSecondaryGradientHelper, 0%, @bgSecondary, 100%);
    color: @textSecondary;
    /*height: 40px;*/
    padding: 8px;
    margin-bottom: 50px;

    h1 {
        float: left;
        margin-right: 40px;
        font-size: 1.8em;
        strong {
            font-weight: bold;
        }
    }

    div.login {
        float: right;
    }
    
    nav {
        font-family: Arial, sans-serif;
        float: left;
        margin-top: 8px;
        font-size: .8em;
        font-weight: bold;
        a {
            margin-right: 5px;
            padding: 4px 4px;
            color: lighten(@textSecondary, 80%);
            text-decoration: none;

            &.selected {
                .background-gradient(@bgSecondary, 0%, @bgSecondary, 0%, darken(@bgSecondaryGradientHelper,20%), 100%);
                .border-radius(6px);
                border-right: 1px solid @bgSecondaryGradientHelper;
                border-bottom: 1px solid @bgSecondaryGradientHelper;
            }
        }
    }
}

.region {
    div.game {
        .team {
            width: 80px;
        }
    }

    &.region-1, &.region-3 {
        div.game {
            background: url('../images/gameborder_t.png') repeat-x top
                    , url('../../resources/images/gameborder_b.png') repeat-x bottom
                    , url('../../resources/images/gameborder_r.png') repeat-y right;
        }
    }
    &.region-2, &.region-4 {
        div.game {
            background: url('../images/gameborder_t.png') repeat-x top
                    , url('../../resources/images/gameborder_b.png') repeat-x bottom
                    , url('../../resources/images/gameborder_r.png') repeat-y left;
        }
    }
}

div.game {
    padding: 4px 2px;
    border: none;

    div.detail {
        font-family: 'Blokletters-Balpen', Arial, sans-serif;
        font-size: .65em;
        line-height: 1.4em;
        &.team-0, &.team-1 {
            .clear_fix;
        }
        &.team-0 .score {
            color: @teamOneScoreColor;
        }
        &.team-1 .score {
            color: @teamTwoScoreColor;
        }

        .score, .seed {
            font-weight: bold;
            font-family: 'Blokletters-Viltstift', Arial, sans-serif;
        }
    }
}

.seed {
    color: @seedColor;
}

input.twitter_signin {
    border: none;
    .border-radius(8px);
    /*width: 100px;*/
    height: 30px;
    background: 4px 4px url('../../resources/images/sprite.png') no-repeat;
    padding: 2px 4px 2px 32px;
    color: @textSecondary;
    text-align: left;
    font-size: 1.0em;
    border: 1px solid lighten(@bgSecondary, 20%);
}